.navigationBar {
  margin: 0 !important;
  position: relative;
  font-weight: 800;
  z-index: 66;
  li {
    a {
      color: #000000;
    }
  }
  .navbar-toggle {
    .icon-bar {
      height: 3px;
      background: orange;
    }
  }
}

.navigationBar-logo {
  img {
    height: 15px;
    margin: 2.5px 0px;
  }
}

@media all and (max-width: 1199px) {} 
@media all and (max-width: 991px) {}
@media all and (max-width: 768px) {} 
@media all and (max-width: 575px) {}