.navigationBar {
  position: absolute;
  width: 100%;
  min-height: 40px;
  z-index: 66;
  .navigationBar-menu {
    text-align: center;
    .navigationBar-button {
      width: 13%;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      a {
        font-size: 13px;
        color: #666;
        font-weight: 600;
        letter-spacing: 1px;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .navigationBar-buttonSpecial {
      width: 21%;
    }
    .navigationBar-logo {
      width: 100%;
      vertical-align: inherit;
    }
  }
}
