<div ng-controller="DemoBasicCtrl as ctrl" ng-cloak>
  <md-toolbar class="md-menu-toolbar navigationBar">
    <div layout="row">
      <div class="container">
        <md-menu-bar class="menu--dustu navigationBar-menu ">
          <md-menu class="menu__item navigationBar-button">
            <button class="menu__item-name" ng-click="$mdOpenMenu()">
              <a>
                <span>Proyectos</span>
              </a>
            </button>
          </md-menu>
          <md-menu class="menu__item navigationBar-button">
            <button class="menu__item-name" ng-click="$mdOpenMenu()">
              <a>
                <span>Proyectos</span>
              </a>
            </button>
          </md-menu>
          <md-menu class="navigationBar-buttonSpecial">
            <button ng-click="$mdOpenMenu()">
              <img class="navigationBar-logo" src="images/MalaveHernandez_Logo.png" />
            </button>
          </md-menu>
          <md-menu class="menu__item navigationBar-button">
            <button class="menu__item-name" ng-click="$mdOpenMenu()">
              <a>
                <span>Proyectos</span>
              </a>
            </button>
          </md-menu>
          <md-menu class="menu__item navigationBar-button">
            <button class="menu__item-name" ng-click="$mdOpenMenu()">
              <a>
                <span>Proyectos</span>
              </a>
            </button>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
</div>
